body {
    margin:0;
}
.red {
    background: rgb(224, 2, 2);
    height: 100px;

    margin-bottom: 100px;
}

.blue {
    background: rgb(0, 0, 207);
    height: 100px;
}

.green {
    background: green;
    height: 100px;
}